/* .app-bg {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #020617,
    #0f172a,
    #1e3a8a
  );
}

.section {
  padding: 80px 0;
}

.glass-card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,.15);
  border-radius: 20px;
  transition: .4s;
}

.glass-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 45px rgba(0,0,0,.4);
}

.title {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.text-gray {
  color: #d1d5db;
}

.btn-main {
  background: #facc15;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 25px;
  transition: .35s;
}

.btn-main:hover {
  transform: scale(1.05);
  background: white;
}

.btn-outline-main {
  border-radius: 30px;
  padding: 10px 25px;
}

.profile-img {
  width: 330px;
  height: 330px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  transition: .4s;
}

.profile-img:hover {
  transform: scale(1.05);
}

.section-image{
    border-radius:20px;
    transition:.4s;
}

.section-image:hover{
    transform:scale(1.03);
} */